{$LECTUREPILOT_DOMAIN} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		-Server
	}

	handle_path /api/* {
		reverse_proxy api:8000
	}

	handle {
		reverse_proxy web:80
	}
}
